<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/imgFavicon.png" sizes="16x16" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>TravelBuddy - Inicio</title>
</head>

<body class="bg-white text-black font-[Poppins]">
    <%- include('componentes/header') %>
        <main class="mx-auto max-w-7xl py-6 px-2 ">
            <div class="relative bg-white ">
                <%- include('componentes/Filter', { categorias: categorias }) %>
            </div>
            <section class="mt-12">
                <div class="mx-auto max-w-7xl py-6 px-2">
                    <div class="grid grid-cols-1 md:grid-cols-4 gap-x-4 gap-y-10">
                        <% if (publicacoes && publicacoes.length> 0) {
                            let colunas = [[], [], [], []];
                            publicacoes.forEach(function(pub, idx) {
                            colunas[idx % 4].push(pub);
                            });
                            %>
                            <% colunas.forEach(function(col) { %>
                                <div class="flex flex-col gap-y-4">
                                    <% col.forEach(function(pub) { %>
                                        <div class="group relative">
                                            <a href="/Imagem/<%= pub.pubCodigo %>">
                                                <img src="/uploads/Publicações/<%= pub.pubFoto %>" loading="lazy"
                                                    alt="<%= pub.pubTitulo %>"
                                                    class="w-full max-w-full rounded-lg bg-gray-100 object-cover group-hover:opacity-75 h-auto block">
                                            </a>
                                        </div>
                                        <% }); %>
                                </div>
                                <% }); %>
                                    <% } else { %>
                                        <div class="col-span-4 text-center text-gray-600 py-10">Nenhuma publicação
                                            encontrada.</div>
                                        <% } %>
                    </div>
                </div>
            </section>
            </div>
        </main>
        <%- include('componentes/footer') %>
</body>

</html>
